*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1500;
}
body{
    display: grid;
    place-items: center;
    background-size: cover;
    background-image: url('ag5.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bolder;

}
h1{
    margin: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    position: relative;
    top: -100px;
}
h2{
    margin: 15px ;
}
.it{
    margin: 10px;

}
label{
    font-weight: bolder;
    font-size: 30px;
}
#butt{
    width: 100px;
    height: 100px;
    border-radius: 40px;
    position: relative;
    left: 80px;
    background-color: black;
    color: black;
    box-shadow: inset 0 0 1px rgb(8, 0, 0);
    text-indent: 2px;
    text-decoration: none;
    border: none;
    padding: 20px;
    outline: none;
}
#butt[value]{
    color: white;
    background-color: black;
}
#butt:hover{
    color: blue;
    height: 60px;
    width: 60px;
    border-radius: 40px;
    background-color: rgb(43, 178, 231);
}
#up{
    width: 300px;
    border: 1px solid none;
    position: relative;
    margin-left: -1150px !important;
}
#ff{
    width: 500px;
    height: 600px !important;
    border: 1px solid none;
}
table{
    border: 1px solid none !important;
    margin-top: -100px;
}
tr{
    border: 1px solid none;
}
.but{
    height: 40px;
    width: 130px;
    background-color: black;
    color: white;
}
.but{
    height: 40px;
    width: 130px;
    background-color: black;
    color: white;
}
.but:hover{
    color: blue;
    height: 33px;
    width: 134px;
    border-radius: 40px;
    background-color: rgb(43, 178, 231);
}
.but1{
border-radius: 40px;
height: 40px;
    width: 130px;
    background-color: black;
    color: white;
    margin-top: 15px;

}
.but1:hover{
    height: 43px;
    width: 135px;
    background-color: white;
    color: #000;
}
/*#maindiv{
    border: 1px solid none;
    width: 700px;
    height: 1000px;
    font-weight: bolder;
    padding:100px 100px 100px 100px;
    background-color: rgba(0, 0, 255, 0.493);
    margin-top: 70px;
    border-radius: 10%;
}
#buttonid{
    align-items: center;
    width: 150px;
    height: 30px;
    font-weight: bolder;
    margin-left: 180px;
    background-color: #000;
    color: white;
    border-radius: 20%;}*/